body, html {
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.me {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("12dec8938220093eb7f1fdb8a9ce40b8-the-rocky-mountains.jpg");

    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.me-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
    overflow: hidden;
    width: 100%;
}

.liNavBar {
    float: left;
    border-right: 1px solid #bbb;
}

.liNavBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liNavBar a:hover {
    background-color: #111;
}

.liNavBar:last-child {
    border-right: none;
}

.active {
    background-color: #ce6e6e;
}

.vanPic {
    padding-left: 15px;
    padding-right: 30px;
    width: 25%;
    text-align: justify;
    float: left;
    vertical-align: top;

}

.employment {
    padding-right: 30px;
    padding-top: 15px;
    padding-left: 15px;
}

.hobbies {
    padding-right: 75px;
    padding-left: 15px;
    padding-top: 15px;
    text-align: justify;
}

.guitarPic {
    float: right;
    display: inline;
    width: 25%;
    padding-left: 15px;
    text-align: justify;
}

.hobbiesParagraph {
    padding-top: 15px;
}

.minturn {
    float: left;
    display: inline;
    width: 25%;
    padding-right: 15px;
    text-align: justify;
}

.brewsPic {
    float: right;
    display: inline;
    width: 30%;
    padding-left: 15px;
    text-align: justify;
}

.bulletItem {
    text-decoration: underline;
}

.academics {
    padding-left: 15px;
    padding-right: 30px;
    text-align: justify;
}

.contacts {
    text-align: center;
}

.footerRefs {
    display: inline;
}